body {
  background: #0f141b;
  color: rgb(177,189,205);
  max-width: 600px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  font-size: 50px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  padding: 20px;
}

li {
  border: 2px solid rgb(177,189,205);
  font-family: 'Bungee Hairline', cursive;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  display: inline;
  padding: 10px;
}

#level {

}

.container {
  border: 2px solid rgb(177,189,205);
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.planets {
  background-size: contain;
  position: absolute;
  top: -20px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

#spaceship {
  background-image: url(../images/ufo3.png);
  background-size: contain;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  left: 290px;
}

#timer {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 50px;
  height: 100px;
  margin-top: 250px;

}
#gameover {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 50px;
  height: 100px;
  transition-timing-function: ease-in-out;
  transition: all 0.2s;
  z-index: 1;
  margin-top: 250px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

button{
  -webkit-animation: glowing 1500ms infinite;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  background-color: #D1D1E2;
  padding: 10px 40px;
  font-size: 20px;
}

button:focus {
  outline: none;
}

@-webkit-keyframes glowing {
  0% { background-color: #E8E8F0; -webkit-box-shadow: 0 0 3px #E8E8F0; }
  50% { background-color: #D1D1E2; -webkit-box-shadow: 0 0 40px #D1D1E2; }
  100% { background-color: #E8E8F0; -webkit-box-shadow: 0 0 3px #E8E8F0; }
}
