

body {
  background: rgb(23,0,40);
  color: rgb(177,189,205);
  max-width: 600px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 40px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  padding: 20px;
}

li {
  border: 2px solid rgb(177,189,205);
  font-family: 'Sonsie One', cursive;
  font-size: 20px;
  margin: 0 auto;
  display: inline;
  padding: 10px;
}

.container {
  border: 2px solid rgb(177,189,205);
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.planets {
  position: absolute;
  top: -20px;
  width: 50px;
  height: 50px;
  background-color: blue;

}

#spaceship {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(177,189,205);
  left: 290px;
}

#timer {
  position: absolute;
  text-align: center;
  font-size: 50px;
  line-height: 100px;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 100px;
  transform: translate(-50%, -50%);
}

.gameover {
  position: absolute;
  text-align: center;
  font-size: 50px;
  line-height: 100px;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 100px;
  transform: translate(-50%, -50%);
  background: rgb(0,51,102);
  transition-timing-function: ease-in-out;
  transition: all 0.2s;
  z-index: 1;
}

footer {
  text-align: center;
  margin-top: 20px;
}

button {
  font-family: 'Sonsie One', cursive;
  padding: 10px 40px;
  font-size: 20px;
}
