

body {
  background: white;
  max-width: 600px;
  margin: 0 auto;
}

header {
  /*border: 2px solid blue;*/
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 40px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  /*border: 2px solid red;*/
  padding: 20px;
}

li {
  border: 2px solid blue;
  font-family: 'Sonsie One', cursive;
  font-size: 20px;
  margin: 0 auto;
  display: inline;
  padding: 10px;
}

.container {
  border: 2px solid black;
  width: 600px;
  height: 600px;
  position: relative;
  /*overflow: hidden;*/
}

.planets {
  /*border: 2px solid white;*/
  position: absolute;
  top: -20px;
  width: 20px;
  height: 20px;
  background-color: blue;

}

#spaceship {
  /*border: 2px solid white;*/
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: black;
  left: 290px;
}

footer {
  /*border: 2px solid yellow;*/
  text-align: center;
  margin-top: 20px;
}

button {
  font-family: 'Sonsie One', cursive;
  padding: 10px 40px;
  font-size: 20px;
}
